[project]
	description = some demos and examples of Java 8 Lambdas
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Rajib Singh (rsinghsc)
[access "refs/for/refs/*"]
	read = group user/Rajib Singh (rsinghsc)
	push = group user/Rajib Singh (rsinghsc)
	label-Code-Review = -2..+2 group user/Rajib Singh (rsinghsc)
	label-Verified = -1..+1 group user/Rajib Singh (rsinghsc)
	rebase = group user/Rajib Singh (rsinghsc)
	removeReviewer = group user/Rajib Singh (rsinghsc)
	submit = group user/Rajib Singh (rsinghsc)
[access "refs/heads/*"]
	read = group user/Rajib Singh (rsinghsc)
	create = group user/Rajib Singh (rsinghsc)
	push = +force group user/Rajib Singh (rsinghsc)
	pushMerge = group user/Rajib Singh (rsinghsc)
[access "refs/tags/*"]
	push = +force group user/Rajib Singh (rsinghsc)
	pushTag = group user/Rajib Singh (rsinghsc)
	pushSignedTag = group user/Rajib Singh (rsinghsc)
